<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <servlet>
        <servlet-name>ServletAfficherExercices</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAfficherExercices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupprimerExercice</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletSupprimerExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterExercice</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAjouterExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherCatExercice</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAfficherCatExercice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterNom</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAjouterNom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherU</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAfficherU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInfoConnexion</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletInfoConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetAllClients</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletGetAllClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetAllProgramme</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletGetAllProgramme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetSeanceForProgramme</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletGetSeanceForProgramme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetAllSeance</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletGetAllSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfilProg</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletProfilProg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetExoForSeanceT</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletGetExoForSeanceT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterSeanceType</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAjouterSeanceType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExercicesNotInSeanceType</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletExercicesNotInSeanceType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeanceTypeAjouterExo</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletSeanceTypeAjouterExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterProgramme</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAjouterProgramme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherProfil</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAfficherProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherSeance</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAfficherSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRajouterNewProfil</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletRajouterNewProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetOneClient</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletGetOneClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetProgForUser</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletGetProgForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMail</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmail</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.sendmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherExo</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAfficherExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModifierExo</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletModifierExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherCorps</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAfficherCorps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterProfil</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAjouterProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeanceRealBilan</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletSeanceRealBilan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeanceReal</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletSeanceReal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeanceDispo</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletSeanceDispo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateStatut</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletUpdateStatut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClientAttente</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletClientAttente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAfficherExercicesSeancePerso</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAfficherExercicesSeancePerso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterExerciceSeance</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletAjouterExerciceSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreerSeancePerso</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletCreerSeancePerso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExercicesNotInSeance</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletExercicesNotInSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModifierPlanifier</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletModifierPlanifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModifierSeancePerso</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletModifierSeancePerso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupprimerExerciceSeancePerso</servlet-name>
        <servlet-class>fr.jdcoaching.servlets.ServletSupprimerExerciceSeancePerso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAfficherExercices</servlet-name>
        <url-pattern>/ServletAfficherExercices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupprimerExercice</servlet-name>
        <url-pattern>/ServletSupprimerExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterExercice</servlet-name>
        <url-pattern>/ServletAjouterExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherCatExercice</servlet-name>
        <url-pattern>/ServletAfficherCatExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterNom</servlet-name>
        <url-pattern>/ServletAjouterNom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherU</servlet-name>
        <url-pattern>/ServletAfficherU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInfoConnexion</servlet-name>
        <url-pattern>/ServletInfoConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetAllClients</servlet-name>
        <url-pattern>/ServletGetAllClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetAllProgramme</servlet-name>
        <url-pattern>/ServletGetAllProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetSeanceForProgramme</servlet-name>
        <url-pattern>/ServletGetSeanceForProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetAllSeance</servlet-name>
        <url-pattern>/ServletGetAllSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfilProg</servlet-name>
        <url-pattern>/ServletProfilProg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetExoForSeanceT</servlet-name>
        <url-pattern>/ServletGetExoForSeanceT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterSeanceType</servlet-name>
        <url-pattern>/ServletAjouterSeanceType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExercicesNotInSeanceType</servlet-name>
        <url-pattern>/ServletExercicesNotInSeanceType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeanceTypeAjouterExo</servlet-name>
        <url-pattern>/ServletSeanceTypeAjouterExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterProgramme</servlet-name>
        <url-pattern>/ServletAjouterProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherProfil</servlet-name>
        <url-pattern>/ServletAfficherProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherSeance</servlet-name>
        <url-pattern>/ServletAfficherSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRajouterNewProfil</servlet-name>
        <url-pattern>/ServletRajouterNewProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetOneClient</servlet-name>
        <url-pattern>/ServletGetOneClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetProgForUser</servlet-name>
        <url-pattern>/ServletGetProgForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMail</servlet-name>
        <url-pattern>/ServletMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmail</servlet-name>
        <url-pattern>/sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherExo</servlet-name>
        <url-pattern>/ServletAfficherExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModifierExo</servlet-name>
        <url-pattern>/ServletModifierExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherCorps</servlet-name>
        <url-pattern>/ServletAfficherCorps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterProfil</servlet-name>
        <url-pattern>/ServletAjouterProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeanceRealBilan</servlet-name>
        <url-pattern>/ServletSeanceRealBilan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeanceReal</servlet-name>
        <url-pattern>/ServletSeanceReal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeanceDispo</servlet-name>
        <url-pattern>/ServletSeanceDispo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateStatut</servlet-name>
        <url-pattern>/ServletUpdateStatut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClientAttente</servlet-name>
        <url-pattern>/ServletClientAttente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherExercicesSeancePerso</servlet-name>
        <url-pattern>/ServletAfficherExercicesSeancePerso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterExerciceSeance</servlet-name>
        <url-pattern>/ServletAjouterExerciceSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreerSeancePerso</servlet-name>
        <url-pattern>/ServletCreerSeancePerso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExercicesNotInSeance</servlet-name>
        <url-pattern>/ServletExercicesNotInSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModifierPlanifier</servlet-name>
        <url-pattern>/ServletModifierPlanifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModifierSeancePerso</servlet-name>
        <url-pattern>/ServletModifierSeancePerso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupprimerExerciceSeancePerso</servlet-name>
        <url-pattern>/ServletSupprimerExerciceSeancePerso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
